includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - packages
    excludePaths:
        - packages/*/tests/*
        - vendor
        - packages/*/node_modules/*
        - **/node_modules
    level: 5
